<!DOCTYPE html>
<html>
 <head>
   <title>Hyperledger Fabric Card Management</title>

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>

   <style type="text/css">
     header {
       background-color: lightgray;
       font-size: 20px;
       padding: 20px;
     }
     header, .form-group {
       margin-bottom: 3%;
     }
     .form-group {
       width: 50%;
     }
     #body {
       margin-left: 3%;
       margin-right: 3%;
     }
     .form-control {
       margin: 8px;
     }
     label {
       font-size: 20px;
     }
   </style>
 </head>
 <body ng-app="application" ng-controller="AppCtrl">
   <header>
     <div id="left_header">Hyperledger Fabric Card Management</div>
   </header>

   <div id="body">
     <!-- 카드 등록 폼 -->
     <div class="form-group">
       <label>Register Card (Init)</label>
       <h5 style="color:green;margin-bottom:2%" id="success_init">{{init_ab}}</h5>

       Card Name: <input class="form-control" type="text" placeholder="Ex: Visa" ng-model="abstore.CardName">
       Card Number: <input class="form-control" type="text" placeholder="Ex: 12345678" ng-model="abstore.CardNum">
       Username: <input class="form-control" type="text" placeholder="Ex: JohnDoe" ng-model="abstore.Username">
       Expiry Date: <input class="form-control" type="text" placeholder="Ex: 04/26" ng-model="abstore.Exdate">
       Password: <input class="form-control" type="password" placeholder="Password" ng-model="abstore.Password">

       <input id="initAB" type="submit" value="Register" class="btn btn-primary" ng-click="initAB()">
     </div>
     <hr>

     <!-- 잔액 추가 폼 -->
     <div class="form-group">
       <label>Add Balance</label>
       <h5 style="color:green;margin-bottom:2%" id="success_add_balance">{{add_balance_ab}}</h5>

       Card Name: <input class="form-control" type="text" placeholder="Ex: Visa" ng-model="abstore.CardName">
       Amount: <input class="form-control" type="number" placeholder="Ex: 100" ng-model="abstore.amount">

       <input id="addBalance" type="submit" value="Add Balance" class="btn btn-primary" ng-click="add_balance()">
     </div>
     <hr>

     <!-- 전체 카드 조회 -->
     <div class="form-group">
       <label>Query All Cards</label>
       <h5 style="color:green;margin-bottom:2%" id="success_queryall">{{query_all}}</h5>

       <p><input id="queryAll" type="submit" value="Get All Cards" class="btn btn-primary" ng-click="queryAll()"></p>

       <!-- 결과 출력 -->
       <pre>{{query_all | json}}</pre>
     </div>

   </div>

   <!-- 연결된 app.js -->
   <script type="text/javascript" src="app.js"></script>
 </body>
</html>
